body{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 10px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#pagina {
    align-items: center;
    justify-content: center;
}
#pagina ul li {
    list-style: none;
    text-decoration-style: none;
}

#cabecalho {
    background-color:  #0074d9;
    color: aliceblue;
}
#cabecalho a {
    color: white;
}
#rodape {
    background-color: #333 ;
}

